.header {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  background-color: #38405f;
}

.btn-login {
  background-color: #ff0035;
  border: 2px solid white;
  color: white;
  border-radius: 10px;
  cursor: pointer;

  &:hover {
    background-color: #9b0225;
  }
}
