.header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #38405f;
  gap: 10px;
  align-items: center;

  h2 {
    cursor: pointer;
  }
}

.header-right {
  display: flex;
  gap: 10px;
  align-items: center;
}

.btn-login {
  background-color: #ff0035;
  border: 2px solid white;
  color: white;
  border-radius: 10px;
  cursor: pointer;

  &:hover {
    background-color: #9b0225;
  }
}

.header-links {
  display: flex;
  gap: 5px;
}

.header-link {
  color: white;
}

.active {
  color: coral;
}
